body{
    height: 80vh;
}

ul{
    list-style-type: none;
    margin: 2rem;
}

li:first-child{
    float: left;
}

li{
    float: right;
    padding-right: 2rem;
    margin-right: 1rem;
}

.div-border{
    height: 12vh;
    border: 1px solid black;
}

.div-home{
    height: 85vh;
}

.div-about{
    height: 38vh;
    text-justify: inter-word;
}

.div-about h2{
    text-align: center;
}
footer p{
    text-align: center
}
